NEXT_PUBLIC_SITE_URL=https://your-domain.com
NEXT_PUBLIC_CRM_FORM_ACTION=http://your-subdomain.lp-crm.biz/api/addNewOrder.html
NEXT_PUBLIC_CRM_API_KEY=
NEXT_PUBLIC_CRM_OFFICE=9
NEXT_PUBLIC_CRM_COUNTRY=UA
NEXT_PUBLIC_CRM_DELIVERY_ID=1
NEXT_PUBLIC_CRM_PAYMENT_ID=4
NEXT_PUBLIC_CRM_DEFAULT_EMAIL=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_GTM_ID=
